:root{
    --primary-color: #0a1118;
    --primary-color-highlight: #233054;
    --bs-body-bg: #FBF0F6;
    --bs-body-font-family: 'Montserrat', sans-serif;

}

html {scroll-behavior: smooth;}

a{color:var(--primary-color);}
a:hover {color:var(--primary-color);}

/*
custom 
*/
.container-custom{
    width: 100%;
    padding: 0  1rem ;
    margin: 0 auto;
}

@media (min-width: 1200px){

    .container-custom{ width: 1140px; }   
}
@media (min-width: 1400px){

    .container-custom{ width: 1340px; }   
}
@media (min-width: 1600px){

    .container-custom{ width: 1540px; }   
}


.header{
    z-index: 2;
}

#navbar{
position: fixed;
left: 0;
top: 0;
right: 0;
bottom: 0;
background-color: rgb(255,247,281);
z-index: 4;
}

.dropdown-nav_CloseNavBtn{
    position: absolute;
    top: 20px ;
    right: 16px;
    background-color: rgb(255,255,255,0.6);
}
.dropdown-nav_container{
    height: 100vh;
    padding: 0 1rem;
}


.hero{
    position: relative;
    height: 100vh;
    background-color:var(--primary-color);
    overflow: hidden;
}
@media (min-width: 1400px) {
.hero_heading{
 font-size: 3.2rem;
}
}
.hero_video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);

}
.hero_overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:var(--primary-color);
    opacity: 0.5;
    z-index: 1;
}
.hero_content{
    z-index: 1;
}

.hero_content_width{
    max-width: 540px;
}

.hero_scroll-btn{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color:var(--bs-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hero_scroll-btn:hover{
 
    color:var(--bs-light);
    opacity: 0.8;
}

.hero_scroll-btn .bi{

    transition: 0.8s;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce{
    from{
transform:translateY(0px);
}
to{
    transform: translateY(-10px);
}
}


.steps{
    padding-top: 40px ;
    padding-bottom: 40px;
}


.steps_section-thumbnail{
    height: 240px;
    object-fit: cover;
}
.steps_content-width{
    max-width: 436px;
    margin: 0 auto;
}

.steps--color{
    background-color: #FEF8F9; 
 }
@media(min-width: 544px){
    .steps{
        padding-top: 80px ;
        padding-bottom: 80px;
    }
  .steps_section-thumbnail{
    height: auto;
  }  
}

.footer .border-highlight{

    border-top: 1px solid rgb(94, 89, 89);

}
